
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root{
  height: 100vh;
  width: 100vw;
  
}

.main-body{
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  
  
  
}

.header{
  background-color: #fefffe;
  
  height: 40px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;


  /* width: 30px; */
}

.header-bar{
  background-color: #15284a;
  height: 45px;
  position: relative;
  
 
}

.content{
  flex: 1;
  display: flex;
  background-color: blue;
}

.sidebar{

  width: 60px;
  background-color: #15284a;
}

.pages{
  
  flex: 1;
  background-color:#f3f7ff;
}

.title{
  /* background-color:magenta; */
  height: 100%;
  width: auto;
}
.user{
  /* background-color:rgb(120, 216, 24); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.title-img{
  height: 40px;
}
.user-img{
  height: 30px;
  margin-right: 30px;
}
.user-name{
  font-size: small;
  margin-right: 15px;
}

.exam{
  stroke: blue;
}

.sidebar{
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 70px;
}

.side-options{
  text-decoration: none;
  color: #fefeff;
  /* background-color: lightcoral; */
  height: 80px;
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 10px;
  transition: background-color 0.5s ease;
}

.side-options:hover{
  background-color: #e1e7f2;
  color: #15294b;
}

.side-options-highlight{
  background-color: #e1e7f2;
  color: #15294b;
}

.side-icons{
  
  height: 25px !important;
  width: 25px;
  margin-bottom: 5px;
}


.dropdown-wrap{
  /* background-color: greenyellow; */
  
  color: whitesmoke;
  height: fit-content;
  width: 100%;
  position: absolute;

}

.header-bar-options{
  /* background-color: aqua; */
  display: flex;
  justify-content: start;
  align-items: center;
  height: 45px;
  padding-left: 30px;
  
}
.subject-code{
  cursor: pointer;

  font-size: 14px;
  font-weight:600;
  margin-left: 10px;
  margin-right:20px ;
}


.header-bar-dropdown{
 
  background-color:#15284a;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  font-weight:600;
  position: relative;
  padding-left: 30px;
  transition: opacity 0.2s ease-in-out;
  
 
}

.subject-code-options{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: mediumorchid; */
  margin: 20px 12px 10px 12px;
  padding: 3px 15px;
  border-radius: 5px;
}
.subject-code-options:hover{
  color: #15284a;
  background-color: whitesmoke;
}

.dropdown-heading{
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 40px;
}


/*  Home  */

.home-wrap{
  display:flex;
  flex-direction: column;
  margin: 24px 36px;
}

.cetificaiton , .learing-wrap{
  height: fit-content;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.cetificaiton{
   padding-right: 120px;
   margin-right: 20vw;
}

.home-wrap h1{
  font-weight:400 ;
  font-size: x-large;
  margin: 10px 0 8px 0;
}

.single-cetificaiton{
  display: flex;
  justify-content:space-between;
  padding: 0 40px;
}

.sc-sub{
  margin: 30px 0;
   /* border: 1px solid black; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.div1 img{
  height: 70px;
}

/* .div1 {

} */

.heading-cetif{
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 12px;
  background-color: #ececec;
  border-radius: 7px;
  width: 220px
}
.body-cetif{
  /* border: 1px solid black; */
  width: 190px;
  margin: 5px 0;
}

.body-cetif h3{
  font-weight: 400;
  font-size: medium;
}

.wrap-cetif{
  margin-left: 20px;
}

.footer-cetif{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  background-color: #cceeff;
  border-radius: 10px;
  height: 25px;
  width: 220px;
}

.div2{
  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.div2  button{
  cursor: pointer;
  background-color: #dfe6f2;
  font-weight: 600;
  font-size: 10px;
  border-radius: 25px;
  padding: 1px 10px;
  border: none;
}

.round-wrap , .round-wrap2 {
  display: flex;
  flex-direction: row;
  /* background-color: #15284a; */
  width: 200px;
  justify-content: space-between;
  
}
.round-wrap2 {
width: 140px;
}

.div3{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 button{
  height: 30px;
  cursor: pointer;
  
  padding: 2px 7px;
  border: none;
  background-color: white;
  color: #2fa8fe;
  /* border-color: #2fa8fe; */
  border: 2px solid #2fa8fe;
  border-radius: 16px;

}

/* Modul */

.module-wrap{
 
  display: flex;
  height: 100%;

}

.module-sidebar{
  z-index: 1;
  width: 250px;
  /* padding: 10px 40px; */
  background-color: #e0e7f3;
}

.module-option{
 
  cursor: pointer;
  text-decoration: none;
  display: flex;
  padding: 20px 0;
}
.module-option img{
  margin-right: 8px;
  margin-left: 8px;
}
.module-option p{
  color: #15294b;
  font-weight: 500;
  font-size: 14px;
}

.module-option:hover{
  background-color: #cad2e1;
}

.module-option-highlight{
  background-color: #cad2e1;
}